<%= javascript_pack_tag 'multiselect' %>
<%= javascript_pack_tag 'sender-location' %>
<%= stylesheet_pack_tag "multiselect", media: "all" %>

<div class="container col-12 mx-auto">
  <% if current_user.is_sender %>
    <nav aria-label="breadcrumb-pet mt-4">
      <ol class="breadcrumb-pet">
        <li class="breadcrumb-pet-item"><%= link_to "送養首頁" , sender_root_path,class:'bc-item-sender' %></li>
        <li class="breadcrumb-pet-item active" aria-current="page">管理預約資料</li>
      </ol>
    </nav>
  <% else %>
    <%= link_to root_path do %>
    <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
    <% end %>
  <% end %>

  <div class="instroduction-card w-80 center mx-auto mt-5 text-center">
    <div class="card-pet w-75 center mx-auto my-4 pt-5 pb-3" style="width: 18rem;">
      <div class="card-body">
        <h2 class="color-primary-pet font-weight-bold letter-spacing pb-2">管理預約資料</h2>
        <%= form_with model: @user, url: sender_user_path(@user),local: true do |f| %>
          <%= f.label :sender_tel, '電話', class: 'text-secondary py-2 mt-2' %>
          <% if current_user.is_sender%>
            <%= f.text_field :sender_tel, required: true, value:current_user.sender_tel, class: 'form-control mx-auto btn-secondary-pet mb-2' %>
          <% end %>

          <% if !current_user.is_sender%>
            <%= f.text_field :sender_tel, required: true, class: 'form-control mx-auto btn-secondary-pet mb-2' %>
          <% end %>

          <%= f.label :sender_add, '地址', class: 'text-secondary py-2 mt-2' %>
          <% if current_user.is_sender%>
            <%= f.select(:sender_area,
                         options_for_select(Animal::ANIMAL_AREA_PKID_CLASS, current_user.sender_add.slice(0..2)),
                         {},
                         { class: 'form-control mx-auto btn-secondary-pet mb-2' }) %>
            <%= f.text_field :sender_add, 
                             required: true,
                             value: current_user.sender_add.slice(3..50),
                             class: 'form-control mx-auto btn-secondary-pet mb-2' %>
          <% end %>

          <% if !current_user.is_sender%>
            <%= f.select(:sender_area,
                          options_for_select(Animal::ANIMAL_AREA_PKID_CLASS),
                          {},
                          { class: 'form-control mx-auto btn-secondary-pet mb-2' }) %>
            <%= f.text_field :sender_add, required: true, class: 'form-control mx-auto btn-secondary-pet mb-2' %>
          <% end %>
          <div class="location">
            <button id="get-location" class="btn btn-primary-pet mb-2">取得我的地址位置</button>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longtitude %>
            <div class="img">
              <img id="location-img" src="">
            </div>
          </div>
          <%= f.label :days, '一周中有空的星期', class: 'text-secondary py-2 mt-2' %>
          <div id="days-select" value:<% current_user.days %> >
            <select>
              <option value="1">星期一</option>
              <option value="2">星期二</option>
              <option value="3">星期三</option>
              <option value="4">星期四</option>
              <option value="5">星期五</option>
              <option value="6">星期六</option>
              <option value="0">星期日</option>
            </select>
            <%= f.hidden_field :days%>
          </div>
          <%= f.label :w1, '星期一有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w1-select" value: <% current_user.w1 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w1%>
          </div>
          <%= f.label :w2, '星期二有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w2-select" value: <% current_user.w2 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w2%>
          </div>
          <%= f.label :w3, '星期三有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w3-select" value: <%current_user.w3 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w3%>
          </div>
          <%= f.label :w4, '星期四有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w4-select" value: <%current_user.w4 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w4%>
          </div>
          <%= f.label :w5, '星期五有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w5-select"  value: <%current_user.w5 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w5%>
          </div>
          <%= f.label :w6, '星期六有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w6-select"  value: <%current_user.w6 %> >
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w6%>
          </div>
          <%= f.label :w0, '星期日有空的時間', class: 'text-secondary py-2 mt-2' %>
          <div id="w0-select"  value: <%current_user.w0 %> class= "py-2">
            <select>
              <option value="0">12:00 AM</option>
              <option value="1">01:00 AM</option>
              <option value="2">02:00 AM</option>
              <option value="3">03:00 AM</option>
              <option value="4">04:00 AM</option>
              <option value="5">05:00 AM</option>
              <option value="6">06:00 AM</option>
              <option value="7">07:00 AM</option>
              <option value="8">08:00 AM</option>
              <option value="9">09:00 AM</option>
              <option value="10">10:00 AM</option>
              <option value="11">11:00 AM</option>
              <option value="12">12:00 PM</option>
              <option value="13">01:00 PM</option>
              <option value="14">02:00 PM</option>
              <option value="15">03:00 PM</option>
              <option value="16">04:00 PM</option>
              <option value="17">05:00 PM</option>
              <option value="18">06:00 PM</option>
              <option value="19">07:00 PM</option>
              <option value="20">08:00 PM</option>
              <option value="21">09:00 PM</option>
              <option value="22">10:00 PM</option>
              <option value="23">11:00 PM</option>
            </select>
            <%= f.hidden_field :w0%>
          </div>
          <div class="col-12">
            <%= f.label :readme, '關於我', class: 'text-secondary py-2 mt-2' %>
            <%= f.rich_text_area :readme , class: "mx-auto trix-content mb-2" %> 
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= f.submit "新增資料", class: "btn btn-primary-pet mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


