<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">設定</li>
  </ol>
</nav>
<div class="wrap">
  <div class="content-wrap col-12 mx-auto">
    <div class="row m-auto">
      <div class="col-12 col-md-6 my-4 mx-auto">
        <div class="card-pet d-flex justify-content-center h-100 shadow">
          <div class="card-body text-center py-5">
            <h2 class="color-primary-pet font-weight-bold letter-spacing">編輯<%= resource.name %>的資料</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
        
                <%= f.label :email, class: "text-secondary py-2" %>
                <%= f.email_field :email, autofocus: true , autocomplete: "email" , class: "form-control mx-auto btn-secondary-pet-nsz mb-2" %>
            
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
        
                <%= f.label :current_password , "請輸入舊密碼" , class: "text-secondary pb-2" %>
        
                <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control mx-auto btn-secondary-pet-nsz mb-2" %>
            
        
                <%= f.label :password, "請輸入新密碼" , class: "text-secondary py-2" %>
                
                <div class="text-secondary">
                  <p class="fz-12">沒有要修改密碼,則不需要輸入</p>
                </div>
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-control mx-auto btn-secondary-pet-nsz mb-2" , placeholder:"6 characters minimum" %>
                
        
                <%= f.label :password_confirmation , "請再次輸入新密碼" , class: "text-secondary py-2" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control mx-auto btn-secondary-pet-nsz mb-2" ,placeholder:"6 characters minimum" %>
        
        
                <%= f.submit "更新資料" , class: "btn btn-primary-pet-nsz mx-auto w-100 my-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>