<div class="container col-12 mx-auto">
  <div class="instroduction-card w-80 center mx-auto mt-5 text-center">
    <div class="card-pet w-75 center mx-auto my-4 pt-5 pb-3" style="width: 18rem;">
      <div class="card-body">
        <h2 class="color-primary-pet font-weight-bold letter-spacing pb-2">編輯<%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        

            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        

            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>

            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
    
            <%= f.submit "Update" , class: "btn btn-primary-pet mt-2" %>
        <% end %>
  
        <h3>Cancel my account</h3>
        
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-delete-pet mt-2"%></p>
        
        <%= link_to "Back", :back , class: "btn btn-primary-pet mt-2" %>
      </div>
    </div>
  </div>
</div>