<div class="container col-12 mx-auto bg-img">
  <%= link_to landingpage_pages_path do %>
  <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
  <% end %>

  <div class="instroduction-card w-80 center mx-auto mt-5 text-center">
    <div class="card-pet w-75 center mx-auto my-4 pt-5 pb-3" style="width: 18rem;">
      <div class="card-body">
        <h2 class="color-primary-pet font-weight-bold letter-spacing pb-2">建立帳號</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.label :name, class: 'text-secondary py-2' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control mx-auto btn-secondary-pet mb-2' %>

        <%= f.label :Email, class: 'text-secondary py-2' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'email@example.com', class: 'form-control mx-auto btn-secondary-pet mb-2' %>

        <%= f.label :Password, class: 'text-secondary py-2' %>
        <% if @minimum_password_length %>
        <span class="text-secondary">(<%= @minimum_password_length %> characters minimum)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control mx-auto btn-secondary-pet'%>

        <%= f.label :password_confirmation, class: 'text-secondary py-2'  %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mx-auto btn-secondary-pet'%>

        <%= f.submit "下一步", class:'btn btn-primary-pet btn-sm mx-auto mt-5 mb-2' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
