<div class="container">
  <div class="row login">
    <div class="col ">
      <svg id="signuplogo" width="153" height="38" viewBox="0 0 153 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.728 28.252C7.072 28.252 5.584 27.964 4.264 27.388C2.968 26.788 1.948 25.972 1.204 24.94C0.460002 23.884 0.0760019 22.672 0.052002 21.304H3.544C3.664 22.48 4.144 23.476 4.984 24.292C5.848 25.084 7.096 25.48 8.728 25.48C10.288 25.48 11.512 25.096 12.4 24.328C13.312 23.536 13.768 22.528 13.768 21.304C13.768 20.344 13.504 19.564 12.976 18.964C12.448 18.364 11.788 17.908 10.996 17.596C10.204 17.284 9.136 16.948 7.792 16.588C6.136 16.156 4.804 15.724 3.796 15.292C2.812 14.86 1.96 14.188 1.24 13.276C0.544002 12.34 0.196002 11.092 0.196002 9.53201C0.196002 8.164 0.544002 6.952 1.24 5.89601C1.936 4.84 2.908 4.024 4.156 3.448C5.428 2.872 6.88 2.584 8.512 2.584C10.864 2.584 12.784 3.172 14.272 4.34801C15.784 5.524 16.636 7.084 16.828 9.02801H13.228C13.108 8.06801 12.604 7.228 11.716 6.50801C10.828 5.764 9.652 5.392 8.188 5.392C6.82 5.392 5.704 5.752 4.84 6.472C3.976 7.168 3.544 8.15201 3.544 9.42401C3.544 10.336 3.796 11.08 4.3 11.656C4.828 12.232 5.464 12.676 6.208 12.988C6.976 13.276 8.044 13.612 9.412 13.996C11.068 14.452 12.4 14.908 13.408 15.364C14.416 15.796 15.28 16.48 16 17.416C16.72 18.328 17.08 19.576 17.08 21.16C17.08 22.384 16.756 23.536 16.108 24.616C15.46 25.696 14.5 26.572 13.228 27.244C11.956 27.916 10.456 28.252 8.728 28.252Z" stroke="orange" stroke-width="2"/>
        <path d="M27.1929 5.068C26.5689 5.068 26.0409 4.852 25.6089 4.42C25.1769 3.988 24.9609 3.46 24.9609 2.836C24.9609 2.212 25.1769 1.684 25.6089 1.252C26.0409 0.820004 26.5689 0.604004 27.1929 0.604004C27.7929 0.604004 28.2969 0.820004 28.7049 1.252C29.1369 1.684 29.3529 2.212 29.3529 2.836C29.3529 3.46 29.1369 3.988 28.7049 4.42C28.2969 4.852 27.7929 5.068 27.1929 5.068ZM28.7769 8.27201V28H25.5009V8.27201H28.7769Z" stroke="orange" stroke-width="2"/>
        <path d="M46.0963 7.948C47.8003 7.948 49.2883 8.32 50.5603 9.064C51.8563 9.808 52.8163 10.744 53.4403 11.872V8.27201H56.7523V28.432C56.7523 30.232 56.3683 31.828 55.6003 33.22C54.8323 34.636 53.7283 35.74 52.2883 36.532C50.8723 37.324 49.2163 37.72 47.3203 37.72C44.7283 37.72 42.5683 37.108 40.8403 35.884C39.1123 34.66 38.0923 32.992 37.7803 30.88H41.0203C41.3803 32.08 42.1243 33.04 43.2523 33.76C44.3803 34.504 45.7363 34.876 47.3203 34.876C49.1203 34.876 50.5843 34.312 51.7123 33.184C52.8643 32.056 53.4403 30.472 53.4403 28.432V24.292C52.7923 25.444 51.8323 26.404 50.5603 27.172C49.2883 27.94 47.8003 28.324 46.0963 28.324C44.3443 28.324 42.7483 27.892 41.3083 27.028C39.8923 26.164 38.7763 24.952 37.9603 23.392C37.1443 21.832 36.7363 20.056 36.7363 18.064C36.7363 16.048 37.1443 14.284 37.9603 12.772C38.7763 11.236 39.8923 10.048 41.3083 9.20801C42.7483 8.36801 44.3443 7.948 46.0963 7.948ZM53.4403 18.1C53.4403 16.612 53.1403 15.316 52.5403 14.212C51.9403 13.108 51.1243 12.268 50.0923 11.692C49.0843 11.092 47.9683 10.792 46.7443 10.792C45.5203 10.792 44.4043 11.08 43.3963 11.656C42.3883 12.232 41.5843 13.072 40.9843 14.176C40.3843 15.28 40.0843 16.576 40.0843 18.064C40.0843 19.576 40.3843 20.896 40.9843 22.024C41.5843 23.128 42.3883 23.98 43.3963 24.58C44.4043 25.156 45.5203 25.444 46.7443 25.444C47.9683 25.444 49.0843 25.156 50.0923 24.58C51.1243 23.98 51.9403 23.128 52.5403 22.024C53.1403 20.896 53.4403 19.588 53.4403 18.1Z" stroke="orange" stroke-width="2"/>
        <path d="M75.5004 7.912C77.9004 7.912 79.8444 8.64401 81.3324 10.108C82.8204 11.548 83.5644 13.636 83.5644 16.372V28H80.3244V16.84C80.3244 14.872 79.8324 13.372 78.8484 12.34C77.8644 11.284 76.5204 10.756 74.8164 10.756C73.0884 10.756 71.7084 11.296 70.6764 12.376C69.6684 13.456 69.1644 15.028 69.1644 17.092V28H65.8884V8.27201H69.1644V11.08C69.8124 10.072 70.6884 9.29201 71.7924 8.74001C72.9204 8.18801 74.1564 7.912 75.5004 7.912Z" stroke="orange" stroke-width="2"/>
        <path d="M123.209 8.27201V28H119.933V25.084C119.309 26.092 118.433 26.884 117.305 27.46C116.201 28.012 114.977 28.288 113.633 28.288C112.097 28.288 110.717 27.976 109.493 27.352C108.269 26.704 107.297 25.744 106.577 24.472C105.881 23.2 105.533 21.652 105.533 19.828V8.27201H108.773V19.396C108.773 21.34 109.265 22.84 110.249 23.896C111.233 24.928 112.577 25.444 114.281 25.444C116.033 25.444 117.413 24.904 118.421 23.824C119.429 22.744 119.933 21.172 119.933 19.108V8.27201H123.209Z" stroke="orange" stroke-width="2"/>
        <path d="M135.617 11.908C136.265 10.78 137.225 9.844 138.497 9.1C139.793 8.332 141.293 7.948 142.997 7.948C144.749 7.948 146.333 8.36801 147.749 9.20801C149.189 10.048 150.317 11.236 151.133 12.772C151.949 14.284 152.357 16.048 152.357 18.064C152.357 20.056 151.949 21.832 151.133 23.392C150.317 24.952 149.189 26.164 147.749 27.028C146.333 27.892 144.749 28.324 142.997 28.324C141.317 28.324 139.829 27.952 138.533 27.208C137.261 26.44 136.289 25.492 135.617 24.364V37.36H132.341V8.27201H135.617V11.908ZM149.009 18.064C149.009 16.576 148.709 15.28 148.109 14.176C147.509 13.072 146.693 12.232 145.661 11.656C144.653 11.08 143.537 10.792 142.313 10.792C141.113 10.792 139.997 11.092 138.965 11.692C137.957 12.268 137.141 13.12 136.517 14.248C135.917 15.352 135.617 16.636 135.617 18.1C135.617 19.588 135.917 20.896 136.517 22.024C137.141 23.128 137.957 23.98 138.965 24.58C139.997 25.156 141.113 25.444 142.313 25.444C143.537 25.444 144.653 25.156 145.661 24.58C146.693 23.98 147.509 23.128 148.109 22.024C148.709 20.896 149.009 19.576 149.009 18.064Z" stroke="orange" stroke-width="2"/>
      </svg>
      <%# <h2 class="text-warning">建立帳號</h2> %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field mb-3 mt-3">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div>
        <div class="field mb-3 mt-3">
          <%= f.label :email%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:'email@example.com'%>
        </div>
        <div class="field mb-3 mt-3 ">
          <%= f.label :password%>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password"%>
        </div>
        <div class="field mb-5">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "下一步", class:'btn-warning submit'%>
        </div>
      <% end %>
      <%= link_to "<i class='fab fa-google'></i>".html_safe, user_google_oauth2_omniauth_authorize_path %>
      <%= link_to "<i class='fab fa-facebook-f'></i>".html_safe, user_facebook_omniauth_authorize_path %>
    </div>
    
  </div>
</div>