<div class="wrap">
  <div class="content-wrap col-12 mx-auto bg-img">
    <div class="icon-back">
      <%= link_to root_path do %>
        <i class="far fa-arrow-alt-circle-left color-primary-pet h3 py-4"></i>
      <% end %>
    </div>
  
    <div class="row m-auto">
      <div class="col-12 col-md-6 mx-auto">
        <div class="card-pet d-flex justify-content-center h-100 shadow">
          <div class="card-body text-center py-5">
            <h2 class="color-primary-pet font-weight-bold letter-spacing">建立帳號</h2>
            <hr>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            
            <%= render "devise/shared/error_messages", resource: resource %>
          
            <%= f.label :name,"姓名" ,class: 'text-secondary py-2' %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control mx-auto btn-secondary-pet-nsz mb-2' %>
          
            <%= f.label :Email, class: 'text-secondary py-2' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'email@example.com', class: 'form-control mx-auto btn-secondary-pet-nsz mb-2' %>
          
            <%= f.label :Password,"密碼", class: 'text-secondary py-2' %>
            <% if @minimum_password_length %>
            <span class="text-secondary">(最少輸入<%= @minimum_password_length %>個字元)</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control mx-auto btn-secondary-pet-nsz'%>
          
            <%= f.label :password_confirmation, "確認密碼",class: 'text-secondary py-2'  %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mx-auto btn-secondary-pet-nsz'%>
          
            <%= f.submit "下一步", class:'btn btn-primary-pet-nsz mx-auto w-100 my-3' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>