<%= link_to pages_path do %>
<i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
<% end %>

<div class="container">
  <div class="row col-sm-12 flex-xl-row">
    <% if @favorites.empty? %>
    <p class="p-4">趕快去收藏</p>
    <% end %>

    <% @favorites_group.each do |user, favorites| %>
    <div class="col">
      <div class="card-pet center mx-auto my-4" style="width: 18rem;">
        <div class="card-header font-weight-bold letter-spacing text-secondary">
          <i class="fas fa-home"></i>
          <%= user %>            
        </div>
        <div class="card-body btn-reservation">
          <% for fav in favorites %>
          <li>
            <span class="color-primary-pet font-weight-bold">
              <i class="fas fa-paw pr-1"></i><%= fav.animal.name %>
            </span>
            <span><%= fav.animal.animal_kind %></span>
            <span><%= fav.animal.animal_age %></span>
            <%= link_to '刪除收藏', favorite_path(fav.animal), method: :delete, data: { confirm: '確認刪除?!' } ,class: 'btn btn-sm-delete-pet btn-sm ml-4 my-1' %>  
          </li>
          <% end %>
          <div class="pt-4 pb-2 mt-5">
            <%= link_to "我要預約", new_reservation_path(:sender => (fav.animal.user.id)),class: 'btn btn-sm-primary-pet btn-sm mr-1' %>
          </div>
        </div>
      </div>
    </div>  
    <% end %> 
  </div>
</div>

