<div class="wrap bg-conversations">
  <nav aria-label="breadcrumb-pet mt-4">
    <ol class="breadcrumb-pet">
      <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %>
      <li class="breadcrumb-pet-item"><%= link_to "站內信件" , conversations_path ,class:'bc-item' %></li>
        <li class="breadcrumb-pet-item active" aria-current="page"><%= @conversation.with(current_user).name %></li>
    </ol>
  </nav>

  <div class="container">
    <div class="row pb-5">
      <div class="col-12 pb-2" id="conversation-main">
        <section class="bg-white rounded-lg shadow-sm my-4 p-5" id="conversation-body">
          <%= render @conversation.personal_messages %>
          <%= form_for @personal_message do |f| %>
            <div class="col-12 pt-5">
              <%= f.rich_text_area :message_body , class: "mx-auto trix-content mb-2" , placeholder: "請輸入訊息..." %> 
            </div>
            <div class="d-flex justify-content-center  mt-4 mb-5">
              <%= f.submit "傳送", class: 'btn btn-primary-pet' %>
            </div>
            <%= hidden_field_tag 'conversation_id', @conversation.id %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>



