<div class="container">

  <div class="row  login">
    <div class="col">
      <h2 class="text-warning">輸入Email寄送新密碼</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-5">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div>

      <div class="actions">
        <%= f.submit "送出",class:'btn-warning submit' %>
      </div>
      <% end %>
    </div>

  </div>
</div>