
<%= render 'shared/carousel'%>

<div class="container mx-auto mb-5">
  <div class="row">
    <div class="col-6">
      <%= link_to searches_path, class: 'my-3 py-3 border btn w-100 color-primary-pet' do %>
      <i class="fas fa-search index-fontawesome"></i>
      <h3 class="btn d-flex flex-column color-primary-pet">搜尋</h3>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to favorites_path, class: 'my-3 py-3 border btn w-100 color-primary-pet' do %>
      <i class="far fa-heart index-fontawesome"></i>
      <h3 class="btn d-flex flex-column color-primary-pet">收藏動物</h3>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to reservations_path, class: 'my-3 py-3 border btn w-100 color-primary-pet' do %>
      <i class="far fa-calendar-alt index-fontawesome"></i>
      <h3 class="btn d-flex flex-column color-primary-pet">預約記錄</h3>
      <% end %>
    </div>

    <div class="col-6">
      <%= link_to conversations_path, class: 'my-3 py-3 border btn w-100 color-primary-pet' do %>
      <i class="far fa-envelope index-fontawesome"></i>
      <h3 class="btn d-flex flex-column color-primary-pet">站內信件</h3>
      <% end %>
    </div>
  </div>
</div>


