
<%= render 'shared/carousel'%>

<div class="container mx-auto">
  <div class="row row-cols-1 row-cols-sm-2">

    <div class="my-3 py-3 border btn btn-pet color-primary-pet ">
      <i class="far fa-heart index-fontawesome"></i>
      <%= link_to "搜尋", searches_path, class: 'btn d-flex flex-column color-primary-pet' %>
    </div>

    <div class="my-3 py-3 border btn btn-pet color-primary-pet ">
      <i class="far fa-heart index-fontawesome"></i>
      <%= link_to "收藏動物", favorites_path, class: 'btn d-flex flex-column color-primary-pet'%>
    </div>

    <div class="my-3 py-3 border btn btn-pet color-primary-pet ">
      <i class="far fa-calendar-alt index-fontawesome"></i>
      <%= link_to "預約記錄", reservations_path, class: 'btn d-flex flex-column color-primary-pet' %>
    </div>

    <div class="my-3 py-3 border btn btn-pet color-primary-pet">
      <i class="far fa-envelope index-fontawesome"></i>
      <%= link_to "站內信件", messages_path, class: 'btn d-flex flex-column color-primary-pet' %>
    </div>

  </div>
</div>


