<div class="container col-12 mx-auto bg-img">
  <%= link_to root_path do %>
    <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
  <% end %>
  <div class="row">
    <div class="instroduction-card w-80 center mx-auto mt-5 text-center">
      <div class="card w-75 center mx-auto my-4" style="width: 18rem;">
        <div class="card-body">
          <h2 class="color-primary-pet font-weight-bold letter-spacing">貓狗大平台</h2>
          <%= link_to 'I have an account 已有帳號', new_user_session_path, class: "btn btn-secondary-pet btn-sm mx-auto my-2" %>
          <%= link_to 'Create an account 建立帳號', new_user_registration_path, class: "btn btn-primary-pet btn-sm mx-auto my-2" %>
          <div>
            <% if user_signed_in? %>
            <%= link_to('logout', destroy_user_session_path, method: :delete)%>
            <% end%>
            <%= link_to "<i class='fab fa-google'></i>".html_safe, user_google_oauth2_omniauth_authorize_path %>
            <%= link_to "<i class='fab fa-facebook-f'></i>".html_safe, user_facebook_omniauth_authorize_path %>    
        </div> 
      </div>
    </div>
  </div>
</div>


