<h1 class="title">Animal</h1>
<% @animals.each do |animal|%>

  <%= animal.name %>
  <%= animal.animal_kind %>
  <%= animal.animal_sex %>

  <div data-controller="favorite" 
  data-favorite-id="<%= animal.id %>" data-favorite-favorited="<%= animal.favorited_by?(current_user) %>">
    <a href="#" data-action="favorite#toggle"  class="btn btn-warning btn-sm" >
        <i class="far fa-heart" data-target="favorite.icon"></i>
    </a>
  </div>
  <br>
  <br>
<% end %>






 