<h1>預約管理</h1>

<% @reservations.each do |res| %>
  <% if res.status != "canceled" %>
  <ul>
    <li>
    <%= res.receiver.name %> <br>
    <%= res.status %> <br>
    <%= res.datetime %>
    <ul>
      <% res.reservation_pets.each do |pet| %>
        <li>
          <%= pet.animal.name %>
          <%= pet.animal.animal_kind %>
          <%= pet.animal.animal_sex %>
        </li>
      <% end %>
      <%= link_to '取消預約', cancel_sender_reservation_path(res), method: :delete, data: {confirm: '確認取消!?'} %>
      <%= link_to '確認預約', confirm_sender_reservation_path(res),	method: :post, data: {confirm: '確認預約!?'} %>
      <%= link_to '領養失敗', cancel_adopt_sender_reservation_path(res),	method: :post, data: {confirm: '領養失敗!?'} %>
      <%= link_to '領養成功', adopt_sender_reservation_path(res, :receiver => (res.receiver.id)),	method: :post, data: {confirm: '新增領養資料!?'} %>
    </ul>
    </li>
  </ul>
  <% end %>
<% end %>