<div class="wrap">
  <nav aria-label="breadcrumb-pet mt-4">
    <ol class="breadcrumb-pet">
      <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
      <li class="breadcrumb-pet-item active" aria-current="page">預約記錄</li>
    </ol>
  </nav>
  <div class="container col-12 mx-auto">
    <div class="row m-auto ">
      <% @reservations.each do |res| %>
        <% if res.status != "canceled" %>
          <div class="col-12 col-md-12 col-xl-6 mt-4 w-50">
            <div class="card-pet searchimg">
              <div class="card-body bg-light">
                <p class="card-text d-flex justify-content-between">
                  <section>
                    <div class="d-flex justify-content-between border-bottom py-2 mb-4">
                      <h3 class="color-primary-pet font-weight-bold letter-spacing pb-2"><%= res.sender.name %></h3>
                      <span class="">
                        <% if res.status == "pending" %>
                          <p class="fz-14 text-white rounded-pill py-1 px-3 bgcolor-primary-pet"><i class="fas fa-spinner pr-1"></i>預約中</p> 
                        <% elsif res.status == "confirmed" %>
                          <p class="fz-14 rounded-pill py-1 px-3 bg-primary-pet color-primary-pet"><i class="fas fa-check-circle pr-1"></i>成功預約</p>
                        <% else %>
                          <p class="fz-14 text-white rounded-pill py-1 px-3 bg-delete">取消預約</p>
                        <% end %>
                      </span>
                    </div>
                    
                    <table>
                      <% res.reservation_pets.each_with_index do |pet,index| %>
                        <tr class="d-flex justify-content-between">
                          <div>
                            <td class="pr-4"><%= image_tag pet.animal.images.first.variant(resize_to_fill: [200, 200]) , class: "rounded-circle" , style: "width:40px"%></td>
                            <td class="pr-4"><%= pet.animal.name %></td>
                            <td class="pr-4"><%= pet.animal.animal_kind %></td>
                          </div>
                          <div>
                            <td>
                              <button class="btn btn-sm bg-dark-pet text-white rounded-pill fz-14 navbar-toggler" data-toggle="collapse" data-target="#<%= "#{ pet.animal.user.name}#{index}" %>" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-chevron-down"></i></button>
                              <div class="pos-f-t m-2 py-2 rounded">
                                <div class="collapse" id="<%= "#{ pet.animal.user.name}#{index}" %>">
                                  <ul class="bg-light text-center py-2 list-unstyled text-secondary fz-14 rounded">
                                    <li><%= pet.animal.animal_sex %></li>
                                    <li><%= pet.animal.animal_age %></li>
                                    <li><%= pet.animal.animal_bodytype %></li>
                                    <li><%= pet.animal.animal_colour %></li>
                                    <li><%= pet.animal.animal_sterilization %></li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </div>
                        </tr>
                      <% end %>
                    </table>

                    <div class="pr-1 m-2">
                      <span class="font-weight-lighter px-2">
                        <i class="fas fa-calendar-alt color-primary-pet pr-1"></i>日期：<%= l res.datetime, format: :custom_date %>
                      </span>
                    </div>
                    <div class="pr-1 m-2">
                      <span class="font-weight-lighter px-2">
                        <i class="far fa-clock color-primary-pet pr-1"></i>時間：<%= l res.datetime, format: :custom_time %>
                      </span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="py-4 px-2">
                        <%= link_to "取消預約", cancel_reservation_path(res), method: :delete, data: {confirm: '確認取消!?'} , class: 'btn btn-sm-delete-pet btn-sm' %>
                      </div>
                      <div class="py-4 px-2">
                        <%= link_to "寄信給他", new_personal_message_path(:receiver_id =>(User.find_by(name: res.sender.name).id)), class: 'btn btn-sm-primary-pet btn-sm'%>
                      </div>
                    </div>
                  </section>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>