<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁", pages_path, class: "bc-item" %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">預約記錄</li>
  </ol>
</nav>
<div class="wrap">
  <div class="container col-12 mx-auto">
    <div class="row m-auto">
      <% @reservations.each do |res| %>
        <% if res.status != "canceled" %>
          <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="card-pet d-flex justify-content-center h-100 shadow">
              <div class="card-header">
                <div class="py-2">
                  <% if res.status == "pending" %>
                    <h4 class="text-secondary font-weight-bold">等待<%= res.sender.name %>預約確認中</h4>
                  <% elsif res.status == "confirmed" %>
                    <h4 class="text-secondary font-weight-bold">已成功預約<%= res.sender.name %></h4>
                  <% else %>
                    <h4 class="text-secondary font-weight-bold"><%= res.sender.name %>已取消預約</h4>
                  <% end %>
                </div>
                <div class="py-2">
                  <span class="pr-1 color-primary-pet">預約時間</span><span class="pr-1"><%= l res.datetime, format: :custom_date_nc %></span><span><%= l res.datetime, format: :custom_time %></span>
                </div>
              </div>
              <div class="card-body">
                <% res.reservation_pets.each_with_index do |pet, index| %>
                  <div class="row justify-content-between align-items-center">
                    <span class="col-3 pr-4">
                      <% if pet.animal.images.attached? %>
                        <%= image_tag pet.animal.images.first.variant(resize_to_fill: [200, 200]), class: "rounded-circle", style: "width: 75px" %>
                      <% else %>
                        <img src="https://fakeimg.pl/200x200/?text=NoPhoto" class="rounded-circle" style="width: 75px;">
                      <% end %>
                    </span>
                    <span class="col-3">
                      <% if pet.animal.animal_sex == "女生" %>
                        <i class="fas fa-venus fz-40 color-primary-pet pl-3"></i>
                      <% else %>
                        <i class="fas fa-mars fz-40 color-secondary-pet pl-3"></i>
                      <% end %>
                    </span>
                    <div class="col-6">
                      <span class="pr-4">我是<%= pet.animal.name %>
                      </span>
                      <div class="list-unstyled text-secondary rounded py-2">
                        <%= pet.animal.animal_sterilization %>
                        <%= pet.animal.animal_age %>
                        <%= pet.animal.animal_bodytype %>
                        <%= pet.animal.animal_colour %>
                        <%= pet.animal.animal_kind %>
                      </div>
                    </div>
                  </div>
                  <hr>
                <% end %>
                <div class="d-flex justify-content-around py-3">
                  <div class="">
                    <%= link_to "取消預約", cancel_reservation_path(res), method: :delete, data: { confirm: "確認取消!?" }, class: "btn btn-sm-delete-pet" %>
                  </div>
                  <div class="">
                    <%= link_to "寄信給他", new_personal_message_path(:receiver_id => (User.find_by(name: res.sender.name).id)), class: "btn btn-sm-primary-pet" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>