<h1>aaa</h1>

<% @reservations.each do |res| %>
<ul>
  <li>
  <%= res.sender.name %> <br>
  <%= res.status %> <br>
  <ul>
    <% res.reservation_pets.each do |pet| %>
      <li>
        <%= pet.animal.name %>
        <%= pet.animal.animal_kind %>
        <%= pet.animal.animal_sex %>
      </li>
    <% end %>
    <%= link_to '取消預約', cancel_reservation_path(res), method: :delete, data: {confirm: '確認取消!?'} %>
  </ul>
  </li>
</ul>
<% end %>