<div class="container">
  <div class="row login">
    <div class="col">
      <svg id="loginlogo" width="105" height="38" viewBox="0 0 105 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.048 25.336H12.832V28H0.772003V2.908H4.048V25.336Z" stroke="orange" stroke-width="2"/>
        <path d="M28.5151 28.324C26.6671 28.324 24.9871 27.904 23.4751 27.064C21.9871 26.224 20.8111 25.036 19.9471 23.5C19.1071 21.94 18.6871 20.14 18.6871 18.1C18.6871 16.084 19.1191 14.308 19.9831 12.772C20.8711 11.212 22.0711 10.024 23.5831 9.20801C25.0951 8.36801 26.7871 7.948 28.6591 7.948C30.5311 7.948 32.2231 8.36801 33.7351 9.20801C35.2471 10.024 36.4351 11.2 37.2991 12.736C38.1871 14.272 38.6311 16.06 38.6311 18.1C38.6311 20.14 38.1751 21.94 37.2631 23.5C36.3751 25.036 35.1631 26.224 33.6271 27.064C32.0911 27.904 30.3871 28.324 28.5151 28.324ZM28.5151 25.444C29.6911 25.444 30.7951 25.168 31.8271 24.616C32.8591 24.064 33.6871 23.236 34.3111 22.132C34.9591 21.028 35.2831 19.684 35.2831 18.1C35.2831 16.516 34.9711 15.172 34.3471 14.068C33.7231 12.964 32.9071 12.148 31.8991 11.62C30.8911 11.068 29.7991 10.792 28.6231 10.792C27.4231 10.792 26.3191 11.068 25.3111 11.62C24.3271 12.148 23.5351 12.964 22.9351 14.068C22.3351 15.172 22.0351 16.516 22.0351 18.1C22.0351 19.708 22.3231 21.064 22.8991 22.168C23.4991 23.272 24.2911 24.1 25.2751 24.652C26.2591 25.18 27.3391 25.444 28.5151 25.444Z" stroke="orange" stroke-width="2"/>
        <path d="M54.6744 7.948C56.3784 7.948 57.8664 8.32 59.1384 9.064C60.4344 9.808 61.3944 10.744 62.0184 11.872V8.27201H65.3304V28.432C65.3304 30.232 64.9464 31.828 64.1784 33.22C63.4104 34.636 62.3064 35.74 60.8664 36.532C59.4504 37.324 57.7944 37.72 55.8984 37.72C53.3064 37.72 51.1464 37.108 49.4184 35.884C47.6904 34.66 46.6704 32.992 46.3584 30.88H49.5984C49.9584 32.08 50.7024 33.04 51.8304 33.76C52.9584 34.504 54.3144 34.876 55.8984 34.876C57.6984 34.876 59.1624 34.312 60.2904 33.184C61.4424 32.056 62.0184 30.472 62.0184 28.432V24.292C61.3704 25.444 60.4104 26.404 59.1384 27.172C57.8664 27.94 56.3784 28.324 54.6744 28.324C52.9224 28.324 51.3264 27.892 49.8864 27.028C48.4704 26.164 47.3544 24.952 46.5384 23.392C45.7224 21.832 45.3144 20.056 45.3144 18.064C45.3144 16.048 45.7224 14.284 46.5384 12.772C47.3544 11.236 48.4704 10.048 49.8864 9.20801C51.3264 8.36801 52.9224 7.948 54.6744 7.948ZM62.0184 18.1C62.0184 16.612 61.7184 15.316 61.1184 14.212C60.5184 13.108 59.7024 12.268 58.6704 11.692C57.6624 11.092 56.5464 10.792 55.3224 10.792C54.0984 10.792 52.9824 11.08 51.9744 11.656C50.9664 12.232 50.1624 13.072 49.5624 14.176C48.9624 15.28 48.6624 16.576 48.6624 18.064C48.6624 19.576 48.9624 20.896 49.5624 22.024C50.1624 23.128 50.9664 23.98 51.9744 24.58C52.9824 25.156 54.0984 25.444 55.3224 25.444C56.5464 25.444 57.6624 25.156 58.6704 24.58C59.7024 23.98 60.5184 23.128 61.1184 22.024C61.7184 20.896 62.0184 19.588 62.0184 18.1Z" stroke="orange" stroke-width="2"/>
        <path d="M76.1585 5.068C75.5345 5.068 75.0065 4.852 74.5745 4.42C74.1425 3.988 73.9265 3.46 73.9265 2.836C73.9265 2.212 74.1425 1.684 74.5745 1.252C75.0065 0.820004 75.5345 0.604004 76.1585 0.604004C76.7585 0.604004 77.2625 0.820004 77.6705 1.252C78.1025 1.684 78.3185 2.212 78.3185 2.836C78.3185 3.46 78.1025 3.988 77.6705 4.42C77.2625 4.852 76.7585 5.068 76.1585 5.068ZM77.7425 8.27201V28H74.4665V8.27201H77.7425Z" stroke="orange" stroke-width="2"/>
        <path d="M96.5379 7.912C98.9379 7.912 100.882 8.64401 102.37 10.108C103.858 11.548 104.602 13.636 104.602 16.372V28H101.362V16.84C101.362 14.872 100.87 13.372 99.8859 12.34C98.9019 11.284 97.5579 10.756 95.8539 10.756C94.1259 10.756 92.7459 11.296 91.7139 12.376C90.7059 13.456 90.2019 15.028 90.2019 17.092V28H86.9259V8.27201H90.2019V11.08C90.8499 10.072 91.7259 9.29201 92.8299 8.74001C93.9579 8.18801 95.1939 7.912 96.5379 7.912Z" stroke="orange" stroke-width="2"/>
      </svg>
      <%# <h2 class="text-warning">登入</h2> %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3 mt-3">
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'email@example.com'%>
      </div>

      <div class="field mb-5">
        <%= f.label :Password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      
      <div class="actions">
        <%= f.submit "下一步", class:'btn-warning submit' %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


