<%= form_with url: '/searches/simple', local: true, method: :get, class: "formSearch d-flex flex-column align-items-center" do |f| %>

  <%= f.select(:animal_kind,
                options_for_select(Animal::ANIMAL_KIND_CLASS),
                { include_blank: "種類"},
                { class: 'form-control mt-4 w-75' }) %>
  <%= f.select(:animal_sex,
                options_for_select(Animal::ANIMAL_SEX_CLASS),
                { include_blank: "性別" },
                { class: 'form-control mt-4 w-75' }) %>
  <%= f.select(:animal_age,
                options_for_select(Animal::ANIMAL_AGE_CLASS),
                { include_blank: "年紀" },
                { class: 'form-control mt-4 w-75' }) %>
  <%= f.select(:animal_sterilization,
                options_for_select(Animal::ANIMAL_STERILIZATION_CLASS),
                { include_blank: "結紮" },
                { class: 'form-control advSearchCondition mt-4 w-75' }) %>
  <%= f.select(:animal_area_pkid,
                options_for_select(Animal::ANIMAL_AREA_PKID_CLASS),
                { include_blank: "縣市" },
                { class: 'form-control advSearchCondition mt-4 w-75' }) %>
                
    <%= f.submit "進行配對", class: 'w-75 btn btn-primary-pet mt-4' %>
<% end %>

<div class="text-center">
  <button id="advSearchButton" class="w-75 btn btn-secondary-pet mt-4">進階搜尋</button>
</div>