<div class="col">
  <div class="card pt-5 pb-3 m-2" >
    <div class="row">
        <div class="col-12 col-md-6 text-center">
          <% if @animal.images.attached? %>
            <%= image_tag @animal.images.first.variant(resize_to_fill: [500, 500]), class: "card-img-top w-80" %>
          <% else %>
            <img src="https://fakeimg.pl/500x500/?text=NoPhoto" class="card-img-top w-80">
          <% end %>
        </div>
        <div class="col-12 col-md-6 col-xl-6">
          <table class="table table-borderless text-center mx-auto">
            <tr class="">
              <div class="color-primary-pet text-center py-3 px-1">
                <% if @animal.animal_sex == "女生" %>
                  <i class="fas fa-venus fz-18 color-primary-pet"></i>
                <% else %>
                  <i class="fas fa-mars fz-18 color-secondary-pet"></i>
                <% end %>
                <%= @animal.animal_sterilization %><%= @animal.animal_age %><%= @animal.animal_bodytype %><%= @animal.animal_colour %><%= @animal.animal_kind %>
              </div>
          </table>
        </div>
    </div>
    <div data-controller="favorite" data-favorite-id="<%= @animal.id %>" data-favorite-favorited="<%= @animal.favorited_by?(current_user) %>" class="text-center">
      <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-sm-primary-pet" do %>
        <i class="far fa-heart" data-target="favorite.icon"></i>
      <% end %>
      <a type="button" class="rounded text-white btn-sm-success-pet py-1 px-3 ml-1" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-map-marked-alt"></i></a>
      <div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><%= @animal.user.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-4by3">
              <% q = (@animal.user.email).ends_with?("@pet.com") ? @animal.user.name : @animal.user.sender_add %>
              <iframe
                width="600"
                height="450"
                class="embed-responsive-item" 
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkzbhgrcZprbdEP9aU0GqRTuKdG9r2zAg&q=<%= q %>"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
    <div>
    </div>
  </div>
</div>