<%= link_to searches_path do %>
  <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
<% end %>

<div class="row w-75 m-auto">
  <% @search_params.each do |s| %>
    <div class="col-12 col-md-6 col-xl-3 mt-4 w-50">
      <div class="card searchimg">
        <%= link_to search_path(s) do%>
          <%= image_tag s.images.first.variant(resize: "500x400!") , class: "card-img-top"%>
        <% end %>
        <div class="card-body">
          <p class="card-text d-flex justify-content-between">
            <span class="color-primary-pet"><%= s.animal_kind%></span>
            <span><%= s.animal_age %></span>
            <span data-controller="favorite" data-favorite-id="<%= s.id %>" data-favorite-favorited="<%= s.favorited_by?(current_user) %>">
              <%= link_to "#", "data-action": "favorite#toggle", class: "text-warning" do %>
                <i class="far fa-heart" data-target="favorite.icon"></i>
              <% end %>
            </span> 
          </p>
          <p class="card-text"><%= s.user.name%></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @search_params %>
</div>