<div class="row">
  <h1 class="d-inline">
    <%= link_to searches_path, class: "text-dark" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    ADVSearch</h1>
</div>

<div class="row">
  <% @search_params.each do |s| %>
    <div class="col-md-6 mt-4 w-50">
      <div class="card searchimg">
        <%= link_to search_path(s) do%>
          <%= image_tag s.images.first.variant(resize: "500x400!") , class: "card-img-top"%>
        <% end %>
        <div class="card-body">
          <p class="card-text d-flex justify-content-between">
            <%= s.animal_kind%>
            <span data-controller="favorite" data-favorite-id="<%= s.id %>" data-favorite-favorited="<%= s.favorited_by?(current_user) %>"> 
              <!--(連結到favorite_controller.js)-->
              <%= link_to "#", "data-action": "favorite#toggle", class: "text-warning" do %>
                <i class="far fa-heart" data-target="favorite.icon"></i>
              <% end %>
            </span> 
          </p>
          <p class="card-text"><%= s.user.name%></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @search_params %>
</div>