<div class="share-result">
  <button type="button" class="close d-none share-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <input type="hidden" id="content-to-copy" />
</div>

<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item"><%= link_to "搜尋" , searches_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">進階搜尋</li>
  </ol>
</nav>

<div class="row w-80 m-auto">
  <% @search_params.each do |s| %>
    <div class="col-12 col-md-6 col-xl-4 mt-4 card-btn-fav">
      <div class="card searchimg">
        <%= link_to search_path(s) do%>
          <%= image_tag s.images.first.variant(resize_to_fill: [500, 400]) , class: "card-img-top"%>
        <% end %>
        <div class="card-body">
          <p class="card-text d-flex">
            <span class="text-secondary border-left-pet pr-2">
              <%= s.animal_kind%>
              <%= s.animal_bodytype%>
              <%= s.animal_colour%>
            </span>
            <span class="border-left-pet pr-2"><%= s.animal_age %></span>
          </p>
          <span class="card-text border-left-pet pr-2"><%= s.user.name%></span>
          <div class="btn-fav">
            <span data-controller="favorite" data-favorite-id="<%= s.id %>" data-favorite-favorited="<%= s.favorited_by?(current_user) %>" class="col-4 col-md-4">
              <%= link_to "#", "data-action": "favorite#toggle", class: "btn bg-primary-pet color-primary-pet px-3 pt-1" do %>
                <i class="far fa-heart" data-target="favorite.icon"></i>
              <% end %>
            </span>
          </div>          
          <div class="row justify-content-center">
            <span class="col-6">
              <button class="share-button btn btn-sm-success-pet fz-14 mb-3 mt-4" data-share="<%= s.id %>">分享 <i class="fas fa-share-alt"></i></button>
            </span>
            <span class="col-6">
              <%= link_to search_path(s) do%>
                <button class="btn btn-sm-secondary-pet fz-14 mb-3 mt-4">詳細資料</button>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @search_params %>
</div>
<%= javascript_pack_tag "search/shareApi"%>