<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item"><%= link_to "搜尋" , searches_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">進階搜尋</li>
  </ol>
</nav>

<div class="row w-75 m-auto">
  <% @search_params.each do |s| %>
    <div class="col-12 col-md-6 col-xl-3 mt-4 w-50">
      <div class="card searchimg">
        <%= link_to search_path(s) do%>
          <%= image_tag s.images.first.variant(resize: "500x400!") , class: "card-img-top"%>
        <% end %>
        <div class="card-body">
          <p class="card-text d-flex">
            <span class="text-secondary border-left-pet pr-2"><%= s.animal_kind%>
            <%= s.animal_bodytype%><%= s.animal_colour%></span>
            <span class="border-left-pet pr-2"><%= s.animal_age %></span>
          </p>
          <span class="card-text border-left-pet pr-2"><%= s.user.name%></span>

          <div class="row mt-4 mr-1">
            <span data-controller="favorite" data-favorite-id="<%= s.id %>" data-favorite-favorited="<%= s.favorited_by?(current_user) %>" class="col-6">
              <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-sm-primary-pet  mb-4" do %>
              <i class="far fa-heart" data-target="favorite.icon"></i>
              <% end %>
            </span> 
            <span class="col-6">
              <%= link_to search_path(s) do%>
                <p class="btn btn-sm-secondary-pet">詳細資料</p>
              <% end %>
            </span>
          </div>
        
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @search_params %>
</div>