<nav aria-label="breadcrumb-pet">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">每日幸運寵物</li>
  </ol>
</nav>

<div class="container">
  <% if @animal == nil %>
    <%= form_with url: lucky_show_searches_path, local: true, class: "d-flex flex-column align-items-center" do |f| %>

      <div class="row">
        <div class="col-6">
          <%= f.button '貓貓', name: "animal_kind", value: "貓貓" ,class: "m-3 p-3 w-100 text-white border-white bg-secondary-pet rounded-lg" do %>
            <i class="fas fa-cat fz-14 py-2"></i>
            <h3 class="fz-16 text-white py-2">貓貓</h3>
          <% end %>
        </div>
        <div class="col-6">
          <%= f.button '狗狗', name: "animal_kind", value: "狗狗" ,class: "m-3 p-3 w-100 text-white border-white bg-secondary-pet rounded-lg" do %>
            <i class="fas fa-dog fz-14 py-2"></i>
            <h3 class="fz-16 text-white py-2">狗狗</h3>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col">
      <div class="card pt-5 pb-3 m-4" >
        <%= image_tag @animal.images.first.variant(resize: "500x400!") , class: "card-img-top w-75 m-auto"%>
        <div class="card-body">
          <table class="table table-borderless text-center w-75 m-auto">
            <tr>
              <td class="color-primary-pet"><i class="fas fa-paw"></i>
              </td>
              <td>
                <%= @animal.animal_kind %>
              </td>
            </tr>
            <tr>
              <td class="color-primary-pet"><i class="fas fa-venus-mars"></i></td>
              <td>
                <%= @animal.animal_sex %>
              </td>
            </tr>
            <tr>
              <td class="color-primary-pet"><i class="fas fa-child"></i>
              </td>
              <td>
                <%= @animal.animal_age %>
              </td>
            <tr>
              <td class="color-primary-pet"><i class="fas fa-cut"></i>
              </td>
              <td>
                <%= @animal.animal_sterilization %>
              </td>
            </tr>
            <tr>
              <td class="color-primary-pet"><i class="fas fa-map-marker-alt"></i></td>
              <td>
                <%= @animal.animal_area_pkid %>
              </td>
            </tr>
          </table>
          <div class="content text-center py-2">
            <ul class="py-2">
              <li><%= @animal.user.name %></li>
              <li><%= @animal.user.sender_add %></li>
              <li><%= @animal.user.sender_tel %></li>
              <li>編號：<%= @animal.animal_subid %></li>
            </ul>
          </div>
        </div>
      
        <div data-controller="favorite" data-favorite-id="<%= @animal.id %>" data-favorite-favorited="<%= @animal.favorited_by?(current_user) %>" class="text-center">
          <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-sm-primary-pet w-25 mb-4" do %>
            <i class="far fa-heart" data-target="favorite.icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>