<div class="share-result">
  <div type="button" class="close d-none share-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>
  <input type="hidden" id="content-to-copy" />
</div>

<nav aria-label="breadcrumb-pet">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item"><%= link_to "搜尋" , searches_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">進階搜尋</li>
  </ol>
</nav>

<div class="mx-2">
  <div class="modal-header">
    <div class="d-flex align-items-center">
      <h5 class="modal-title" id="exampleModalScrollableTitle">
        <% if @animal.animal_subid.nil? %>
          <div scope="row" class="color-primary-pet">我是<%= @animal.name %></div>
        <% else %>
          <div scope="row" class="color-primary-pet"><%= @animal.user.name %></div>
        <% end %>
      </h5>
    </div>
  </div>
  <div class="modal-body">
    <div class="table table-borderless text-center mx-auto">
      <div>
        <div class="embed-responsive embed-responsive-4by3">
          <% q = (@animal.user.email).ends_with?("@pet.com") ? @animal.user.name : @animal.user.sender_add %>
          <iframe
            width="600"
            height="450"
            class="embed-responsive-item" 
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkzbhgrcZprbdEP9aU0GqRTuKdG9r2zAg&q=<%= q %>"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div>
        <% if !@animal.animal_subid.nil? %>
          <ul class="bg-light text-center py-2 list-unstyled text-secondary fz-14 rounded">
            <div class="color-primary-pet">
              <% if @animal.animal_sex == "女生" %>
                <i class="fas fa-venus fz-18 color-primary-pet pl-3"></i>
              <% else %>
                <i class="fas fa-mars fz-18 color-secondary-pet pl-3"></i>
              <% end %>
            </div>
            <li><%= @animal.animal_sterilization %><%= @animal.animal_age %><%= @animal.animal_bodytype %><%= @animal.animal_colour %><%= @animal.animal_kind %></li>
            <li><%= @animal.user.sender_tel %></li>
            <li>寵物編號：<%= @animal.animal_subid %></li>
          </ul>
        <% else %>
          <ul class="bg-light text-center py-2 list-unstyled text-secondary fz-14 rounded">
            <li class="color-primary-pet">
              <% if @animal.animal_sex == "女生" %>
                <i class="fas fa-venus fz-18 color-primary-pet pl-3"></i>
              <% else %>
                <i class="fas fa-mars fz-18 color-secondary-pet pl-3"></i>
              <% end %>
            </li>
            <li><%= @animal.animal_sterilization %><%= @animal.animal_age %><%= @animal.animal_bodytype %><%= @animal.animal_colour %><%= @animal.animal_kind %></li>
            <li><%= @animal.content %></li>
          </ul>
        <% end %>
      </div>
      <div>
        <button class="share-button btn btn-success-pet fz-14 py-2 m-2"  data-share="<%= @animal.id %>">分享 <i class="fas fa-share-alt"></i></button>
      </div>
    </div>
  </div>
</div>