<span class="d-none hidden-id"><%= @animal.id %></span>
<nav aria-label="breadcrumb-pet">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item"><%= link_to "搜尋" , searches_path ,class:'bc-item' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">進階搜尋</li>
  </ol>
</nav>
<div class="">
  <button class="share-button"><i class="fas fa-share-alt"></i></button>
  <div class="share-result">
    <button type="button" class="close d-none share-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div>
<input type="hidden" id="content-to-copy" />

<div class="col">
  <div class="card pt-5 pb-3 m-4" >
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <%= image_tag @animal.images.first.variant(resize_to_fill: [500, 500]) , class: "card-img-top w-80"%>
      </div>
      <div class="col-12 col-md-6 col-xl-6">
        <table class="table table-borderless text-center mx-auto my-4">
          <tbody>
            <tr>
              <% if @animal.animal_subid.nil? %>
                <td scope="row" class="color-primary-pet pl-4">名字
                </td>
                <td>
                  <%= @animal.name %>    
                </td>
              <% end %>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">種類
              </td>
              <td>
                <%= @animal.animal_kind %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">性別
              </td>
              <td>
                <%= @animal.animal_sex %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">年紀
              </td>
              <td>
                <%= @animal.animal_age %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">體型
              </td>
              <td>
                <%= @animal.animal_bodytype %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">毛色
              </td>
              <td>
                <%= @animal.animal_colour %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">結紮
              </td>
              <td>
                <%= @animal.animal_sterilization %>
              </td>
            </tr>
            <tr>
              <td scope="row" class="color-primary-pet pl-4">縣市
              </td>
              <td>
                <%= @animal.animal_area_pkid %>
                <a type="button" class="rounded text-white bg-success py-1 px-3 ml-1" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-map-marked-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td scope="row" colspan="2">
                <button class="btn btn-dark-pet fz-14 navbar-toggler py-2" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">詳細資料 <i class="fas fa-chevron-down"></i>
                </button>
                <div class="pos-f-t m-2 py-2 rounded">
                  <div class="collapse" id="navbarToggleExternalContent">
                    <ul class="bg-light text-center py-2 list-unstyled text-secondary fz-14 rounded">
                      <li><%= @animal.user.name %></li>
                      <li><%= @animal.user.sender_add %></li>
                      <li><%= @animal.user.sender_tel %></li>
                      <% if !@animal.animal_subid.nil? %>
                        <li>寵物編號：<%= @animal.animal_subid %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div data-controller="favorite" data-favorite-id="<%= @animal.id %>" data-favorite-favorited="<%= @animal.favorited_by?(current_user) %>" class="text-center mt-2">
      <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-sm-primary-pet w-25 mb-4" do %>
        <i class="far fa-heart" data-target="favorite.icon"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @animal.user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="600" height="450" class="embed-responsive-item" 
            <% if (@animal.user.email).ends_with?("@pet.com") %>
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkzbhgrcZprbdEP9aU0GqRTuKdG9r2zAg&q=<%= @animal.user.name %>" 
            <% else %>
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkzbhgrcZprbdEP9aU0GqRTuKdG9r2zAg&q=<%= @animal.user.sender_add %>" 
            <% end %>
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>