<%= link_to advance_searches_path do %>
  <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
<% end %>

<div class="col-md-12">
  <div class="card pt-5 pb-3 m-4" >
    <%= image_tag @animal.images.first.variant(resize: "500x400!") , class: "card-img-top w-75 m-auto"%>
    <div class="card-body">
      <table class="table table-borderless text-center w-75 m-auto">
        <tr>
          <th scope=" col-sm-12"><div class="color-primary-pet bg-primary-pet">種類</div></th>
          <td scope=" col-sm-12"><%= @animal.animal_kind %></td>
          <th scope=" col-sm-12"><div class="color-primary-pet bg-primary-pet">性別</div></th>
          <td scope=" col-sm-12"><%= @animal.animal_sex %></td>
        </tr>
        <tr>
          <th scope=" col-sm-12"><div class="color-primary-pet bg-primary-pet">年紀</div></th>
          <td><%= @animal.animal_age %></td>
          <th><div class="color-primary-pet bg-primary-pet">結紮</div></th>
          <td><%= @animal.animal_sterilization %></td>
        </tr>
        <tr>
          <th scope=" col-sm-12"><div class="color-primary-pet bg-primary-pet">縣市</div></th>
          <td><%= @animal.animal_area_pkid %></td>
          <th></th>
          <td></td>
        </tr>
      </table>
      <div class="content text-center py-2">
        <ul class="py-2">
          <li><%= @animal.user.name %></li>
          <li><%= @animal.user.sender_add %></li>
          <li><%= @animal.user.sender_tel %></li>
          <li>編號：<%= @animal.animal_subid %></li>
        </ul>
      </div>
    </div>
  
    <div data-controller="favorite" 
  data-favorite-id="<%= @animal.id %>" data-favorite-favorited="<%= @animal.favorited_by?(current_user) %>" class="text-center"> 
    <!--(連結到favorite_controller.js)-->
    <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-warning w-25 mb-4" do %>
      <i class="far fa-heart" data-target="favorite.icon"></i>
    <% end %>
    </div>
  </div>
</div>