<%= link_to searches_path do %>
  <i class="far fa-arrow-alt-circle-left color-primary-pet h3 p-4"></i>
<% end %>

<% @simple_search.each do |s| %>
  <div class="card pt-5 pb-3 m-4">
    <%= image_tag s.images.first.variant(resize: "500x400!") , class: "card-img-top w-75 m-auto"%>
    <div class="card-body text-center">
      <h5 class="card-title h4 py-1 color-primary-pet"><%= s.animal_subid %></h5>
      <p class="card-text py-1 mt-2"><%= s.user.name %></p>
      <p class="card-text py-1">年紀：<%= s.animal_age %></p>
    </div>
  </div>
  <div data-controller="favorite" 
  data-favorite-id="<%= s.id %>" data-favorite-favorited="<%= s.favorited_by?(current_user) %>" class="text-center mt-4"> 

    <%= link_to "#", "data-action": "favorite#toggle", class: "btn btn-warning w-25 mb-4" do %>
      <i class="far fa-heart" data-target="favorite.icon"></i>
    <% end %>
    <%= link_to '下一隻', simple_searches_path(animal_kind: params[:animal_kind],
                                          animal_age: params[:animal_age],
                                          animal_sex: params[:animal_sex],),
                                          id:"next", class:"btn btn-secondary w-25 ml-4 mb-4",:"data-turbolinks" => false %>
  </div>
<% end %>