<div class="row">
  <div class="col-12">
    <% if @animal.images.attached? %>
      <% @animal.images.each do |image| %>
        <% if !image.id.nil? %>
          <%= image_tag image.variant(resize_to_fill: [500, 400]), class: "card-img-top" %>
          <div class="d-flex justify-content-center">
            <%= link_to '刪除', destroy_image_sender_animal_path(@animal, image), method: :delete, class: "btn btn-delete-pet my-3 mx-auto" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-12">
    <% if @animal.images.attached? %>
      <% @animal.images.each do |img| %>
        <%= f.hidden_field :images, multiple: true, value: img.signed_id %>
      <% end %>
    <% end %>
    <%= f.label :images, class: "text-secondary py-2 mt-2" %>
    <div class="dropzone dropzone-default dz-clickable " data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="16">
      <%= f.file_field :images, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h4 class="dropzone-msg-title">拖曳檔案到這裡或是點擊來新增檔案</h4>
        <span class="dropzone-msg-desc text-sm">可上傳格式：jpg或png，單一檔案最大2MB</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :name, "寵物姓名" , class: "text-secondary py-2 mt-2" %>
    <%= f.text_field :name, class: "form-control mx-auto btn-secondary-fluid-pet mb-2 " %>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :animal_kind, "寵物種類" , class: "text-secondary py-2 mt-2" %>
    <%= f.select(:animal_kind, [['貓', '貓'], ['狗', '狗']], {}, { :class => 'form-control mx-auto btn-secondary-fluid-pet mb-2' }) %>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :animal_sex, "寵物性別" , class: "text-secondary py-2 mt-2" %>
    <%= f.select(:animal_sex, [['公', '公'], ['母', '母'],['不知道','還未輸入']], {}, { :class => 'form-control mx-auto btn-secondary-fluid-pet mb-2' }) %>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :animal_age, "寵物年紀" , class: "text-secondary py-2 mt-2" %>
    <%= f.select(:animal_age, [['幼年', '幼年'], ['成年', '成年']], {}, { :class => 'form-control mx-auto btn-secondary-fluid-pet mb-2' }) %>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :animal_sterilization, "是否結紮" , class: "text-secondary py-2 mt-2" %>
    <%= f.select(:animal_sterilization, [['是', '是'], ['否', '否'],['不知道','未輸入']], {}, { :class => 'form-control mx-auto btn-secondary-fluid-pet mb-2' }) %>
  </div>
  <div class="col-12 col-md-6 col-md-4">
    <%= f.label :adopt_status, "是否可被搜尋" , class: "text-secondary py-2 mt-2" %>
    <%= f.select(:adopt_status, [['可以', '待領養'], ['不可以', '未上架']], {}, { :class => 'form-control mx-auto btn-secondary-fluid-pet mb-2' }) %>
  </div>
  <div class="col-12">
    <%= f.label :content, "詳細說明：（可附加JPEG、PNG、PDF檔案，最大2MB）" , class: "text-secondary py-2 mt-2" %>
    <%= f.rich_text_area :content , class: " mx-auto trix-content mb-2" %>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <%= f.submit '送出資料', class: "btn btn-primary-pet mt-4 mb-5" %>
  </div>
</div>
