<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "送養首頁" , sender_root_path,class:'bc-item-sender' %></li>
    <li class="breadcrumb-pet-item"><%= link_to "動物管理" , sender_animals_path,class:'bc-item-sender' %></li>
    <li class="breadcrumb-pet-item active" aria-current="page">編輯動物資料</li>
  </ol>
</nav>
<div class="container">
  <% if @animal.errors.any? %>
    <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="color-primary-pet font-weight-bold letter-spacing pb-3 my-5 border-bottom h2">編輯動物資料<i class="fas fa-pen fz-16"></i></div>
  <%= form_with model: @animal, url: sender_animal_path(@animal), local: true do |f|%>
    <%= render "form", f: f %>
  <% end %>
</div>
