<!DOCTYPE html>
<html>
<head>
  <link href="
https://storage.googleapis.com/oneadopt-public/images/logo_icon-y.png" alt="logo", rel="icon">
  <title>貓狗大平台</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'picker' %>

</head>

<body>
  <div class="wrap">
    <% if !current_user.nil? %>
      <nav class="navbar navbar-expand-lg navbar-light bgcolor-primary-pet sticky-top">
        <nav class="navbar py-0">
          <%= link_to pages_path , class: 'navbar-brand' do %>
            <img src="<%= asset_pack_path 'media/images/logo_w.png'%>" width="150" alt="logo">
          <% end %>
        </nav>
        
        <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to searches_path do %>
                  <div class="nav-link pl-2">搜尋</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to favorites_path do %>
                  <div class="nav-link pl-2">收藏動物</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to reservations_path do %>
                  <div class="nav-link pl-2">預約記錄</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to conversations_path do %>
                  <div class="nav-link pl-2">站內信件</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to lucky_animal_searches_path do %>
                  <div class="nav-link pl-2">每日幸運寵物</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <% if current_user.is_sender %>
                <%= link_to sender_root_path do %>
                  <div class="nav-link pl-2">
                  <i class="far fa-laugh pr-1"></i>送養管理
                  </div>
                <% end %>
                <% else %>
                <%= link_to edit_sender_user_path do %>
                <div class="nav-link pl-2">
                  <i class="far fa-laugh pr-1"></i>成為送養者
                </div>
                <% end %>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to edit_user_registration_path do %>
                  <div class="nav-link pl-2">設定</div>
                <% end %>
              </li>
              <li class="line"></li>
            </div>
            <div class="navbar-item-pet">
              <li class="nav-item ml-auto">
                <%= link_to destroy_user_session_path , method: 'delete' do %>
                  <div class="nav-link pl-2">登出</div>
                <% end %>
              </li>
            </div>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= render 'shared/flash' if notice %>

    <%= yield %>
    <footer>
      <div class="container bg-light">
        <div class="row color-primary-pet justify-content-center py-4">
          <div class="text-center font-weight-lighter">
            <div><i class="fas fa-paw"></i></div>
            <div>聯絡我們</div>
            <div>詳細地址</div>
            <div>服務時間</div>
            <div>隱私規範</div> 
            <small class="text-black-50"> © 2020 Copyright</small>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>


