<!DOCTYPE html>
<html>
<head>
  <link href="
https://storage.googleapis.com/oneadopt-public/images/logo_icon-y.png" alt="logo", rel="icon">
  <title>貓狗大平台</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap" rel="stylesheet">
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

</head>

<body>
  <div class="wrap">
    <div class="content-wrap">
      <% if !current_user.nil? %>
        <nav class="navbar navbar-expand-lg navbar-light bgcolor-primary-pet sticky-top">
          <nav class="navbar py-0">
            <%= link_to pages_path , class: 'navbar-brand' do %>
              <img src="<%= asset_pack_path 'media/images/logo_w.png'%>" width="150" alt="logo">
            <% end %>
          </nav>
          
          <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to searches_path do %>
                    <div class="nav-link p-2 h5">搜尋</div>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to favorites_path do %>
                    <div class="nav-link p-2 h5">收藏動物</div>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to reservations_path do %>
                    <div class="nav-link p-2 h5">預約記錄</div>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to conversations_path do %>
                    <div class="nav-link h5">站內信件</div>
                    <li class="nav-item btn-group px-2" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
                      <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        (<span data-behavior="unread-count"></span>)
                      </a>
                      <div id="div1" class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
                      </div>
                    </li>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to lucky_animal_searches_path do %>
                    <div class="nav-link p-2 h5">每日幸運寵物</div>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <% if current_user.is_sender %>
                    <%= link_to sender_root_path do %>
                      <div class="nav-link p-2 h5">
                      <i class="far fa-laugh pr-1"></i>送養管理
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to edit_sender_user_path do %>
                      <div class="nav-link p-2 h5">
                        <i class="far fa-laugh pr-1"></i>成為送養者
                      </div>
                    <% end %>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to edit_user_registration_path do %>
                    <div class="nav-link p-2 h5">設定</div>
                  <% end %>
                </li>
              </div>
              <div class="navbar-item-pet">
                <li class="nav-item ml-auto">
                  <%= link_to destroy_user_session_path , method: 'delete' do %>
                    <div class="nav-link p-2 h5">登出</div>
                  <% end %>
                </li>
              </div>
            </ul>
          </div>
        </nav>
      <% end %>
      <%= render 'shared/flash' if notice %>
      
      <%= yield %>
    </div>

    <% if !current_user.nil? %>
<!--       <footer class="bg-light">
        <div class="bg-light color-primary-pet text-center font-weight-lighter">
          <div class="fz-14">
            <%= mail_to "lccjw0001@gmail.com" , subject: "貓狗大平台 你好，我是#{current_user.name}" , class: " color-primary-pet" do %>
              <i class="far fa-envelope pr-1"></i>聯絡我們
            <% end %>
          <div>
          <small class="text-black-50 fz-10"> © 2020 Copyright</small>
          </div>
        </div>
      </footer> -->
    <% end %>
  </div>
</body>
</html>


